$primary: #007af0;
$neutral-bg: #181f25;
$neutral-dark: #292929;
$neutral-tile-active: #fcfcfc;

$mischka: #a6adb4;
$rhino: #414850;
$black-pearl: #14181b;
$black-chinese: #0f1113;

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Thin";
  src: url("../fonts/Inter/Inter-Thin.ttf");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope/Manrope-Medium.ttf");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("../fonts/Manrope/Manrope-Regular.ttf");
}
body {
  color: $black-pearl;
}
svg:hover path {
  fill: $primary;
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.search-bar {
  display: none;
  background-color: #f1f1f2;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
  font-family: "Inter-Regular";
  align-items: center;
  input {
    margin-left: 12px;
    background-color: transparent;
    outline: none;
    color: $mischka;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.breadcrumb-category {
  box-shadow: 0px 1px 0px rgba(93, 94, 98, 0.1);
  & > *::-webkit-scrollbar {
    display: none;
  }
  a {
    color: $neutral-bg;
    font-family: "Inter-Bold";
    font-size: 14px;
    &:hover {
      color: $primary;
    }
    &.active {
      position: relative;
      display: block;
      &:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $primary;
        bottom: -12px;
        @media screen and (min-width: 1280px) {
          bottom: -20px;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 64px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}

.post {
  .thumbnail {
    display: block;
    padding-bottom: 62.5%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .category {
    font-family: "Inter-Regular";
    color: $rhino;
    font-size: 14px;
    &:hover {
      color: $primary;
    }
  }
  .title {
    font-family: "Inter-Bold";
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    &:hover {
      color: $primary;
    }
  }
  .author {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    .author-avatar {
      width: 36px;
      height: 36px;
      border-radius: 999px;
    }
    .author-name {
      font-family: "Inter-Bold";
      font-size: 12px;
    }
  }
  .description {
    color: $rhino;
    font-size: 14px;
    margin-top: 1rem;
  }
  &.horizontal {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
    .title {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.01em;
    }
  }
  &.vertical {
    .thumbnail {
      margin-bottom: 1rem;
    }
    .title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.01em;
    }
  }
  &.mini {
    .title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.01em;
    }
  }
  @media screen and (min-width: 1280px) {
    .title {
      margin-bottom: 1.5rem;
    }
    .description {
      margin-top: 1.5rem;
    }
    &.horizontal {
      grid-template-columns: auto 1fr;
      column-gap: 2rem;
      .title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.03em;
      }
    }
  }
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 999px;
  background-color: $mischka;
}
.blog-post {
  .title {
    font-family: "Inter-Bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
  .content {
    & > * {
      margin-top: 1.5rem;
    }
    p {
      font-family: "Inter-Regular";
      font-size: 14px;
      line-height: 24px;
    }
    h2 {
      font-family: "Inter-Bold";
      font-size: 24px;
      line-height: 28px;
    }
    img,
    video {
      width: 100%;
    }
  }
  .author {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    .author-avatar {
      width: 72px;
      height: 72px;
      border-radius: 999px;
      border: 1px solid $primary;
      padding: 2px;
    }
    .author-name {
      font-family: "Inter-Bold";
      font-size: 20px;
      line-height: 28px;
    }
  }
  @media screen and (min-width: 1280px) {
    .title {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.03em;
    }
    .content {
      & > * {
        margin-top: 2.5rem;
      }
    }
  }
}
.footer {
  display: grid;
  padding: 4rem 0rem;
  row-gap: 2rem;
  color: white;
  font-family: "Inter-Regular";
  @media screen and (min-width: 1280px) {
    padding: 4rem 0rem;
    column-gap: 9rem;
    grid-template-columns: auto auto auto;
  }
}
